<section id="contactame" class="bg-white dark:bg-gray-600 mb-5">
    <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white">!Contactame!</h2>
        <p class="mb-8 lg:mb-16 font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl">Para mayor informacion puedes contactarme commigo</p>
        <form  [formGroup]="formContacto" (submit)="sendContact()" class="space-y-8" novalidate>
            <div>
                <label for="subject" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Nombre y Apellidos </label>
                <input
                formControlName="nombre" 
                type="text" 
                id="subject" 
                class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" 
                placeholder="Escribe tus nombes y apellidos" required>
            </div>
            <div *ngIf="formContacto.get('nombre')?.errors && formContacto.get('nombre')?.touched" [ngStyle]="{'color':'red'}">
                <div *ngIf="formContacto.get('nombre')?.errors?.['required']">
                  El nombre no puede quedar vacío
                </div>
                <div *ngIf="this.formContacto.get('nombre')?.errors?.['minlength']">
                  Debe tener como mínimo 10 caracteres
                </div>
              </div>
            <div>
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Correo Electronico</label>
                <input
                formControlName="email" 
                type="email" 
                id="email" 
                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" 
                placeholder="ejemplo@gmail.com" required>
            </div>
            <div *ngIf="formContacto.get('email')?.errors && formContacto.get('email')?.touched" [ngStyle]="{'color':'red'}">
                <div *ngIf="formContacto.get('email')?.errors?.['required']">
                  El Correo Electronico no puede quedar vacío
                </div>
                <div *ngIf="this.formContacto.get('email')?.errors?.['email']">
                    El Correo Electronico es invalido
                </div>
              </div>
            <div class="sm:col-span-2">
                <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Tu mensaje</label>
                <textarea
                formControlName="mensaje"
                id="message" 
                rows="6" 
                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" 
                placeholder="Escribe tu mensaje..."></textarea>
            </div>
            <div *ngIf="formContacto.get('mensaje')?.errors && formContacto.get('mensaje')?.touched" [ngStyle]="{'color':'red'}">
                <div *ngIf="this.formContacto.get('mensaje')?.errors?.['required']">
                  El Mensaje no puede quedar vacío
                </div>
              </div>
            <button type="submit" 
            class="py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-sky-700 sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
            Contactame</button>
        </form>
        <div class="mt-4 flex justify-center">
            <div [ngStyle]="{'background-color':'black','color':'white','font-size':'18px'}">{{ resultado }}</div>
          </div>
    </div>
  </section>

 
