<section id="experiencia" class="h-full">
  <div class="lg:py-8 px-4 mx-auto max-w-screen-xl">
    <div class="mx-auto" style="height: 450px;">
      <h1 class="text-6xl font-bold mb-3 font-mono mt-5 pt-3 text-center">
        ESTUDIOS Y EXPERIENCIA
      </h1>
      <div class="grid grid-cols-2 mt-10 h-60">
        <div class="flex justify-center items-center">
                <div class="w-full max-w-md p-4 bg-white border rounded-lg shadow-md sm:p-8 dark:bg-gray-500 dark:border-gray-500 ">
                    <div class="flex items-center justify-center mb-4">
                        <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">ESTUDIOS</h5>
                    </div>
                <div class="flow-root">
                    <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
                        <li class="py-3 sm:py-4">
                            <div class="flex items-center space-x-4">
                                <div class="flex-shrink-0">
                                    <img class="w-8 h-8 rounded-full" 
                                    src="https://thumbs.dreamstime.com/z/icono-de-color-rgb-pr%C3%A1cticas-formaci%C3%B3n-profesional-experiencia-desarrollo-habilidades-ilustraci%C3%B3n-vectorial-aislada-del-194667655.jpg" alt="Neil image">
                                </div>
                                <div class="flex-1 min-w-0">
                                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                        Universidad Nacional de Ucayali
                                    </p>
                                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                        Ingeniero de Sistemas
                                    </p>
                                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                        C.F.B Km 6 Perú - Ucayali - Pucallpa
                                    </p>
                                </div>
                                <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                    2015 - 2021
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <hr>
                <div class="flow-root">
                    <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
                        <li class="py-3 sm:py-4">
                            <div class="flex items-center space-x-4">
                                <div class="flex-shrink-0">
                                    <img class="w-8 h-8 rounded-full" 
                                    src="https://thumbs.dreamstime.com/z/icono-de-color-rgb-pr%C3%A1cticas-formaci%C3%B3n-profesional-experiencia-desarrollo-habilidades-ilustraci%C3%B3n-vectorial-aislada-del-194667655.jpg" 
                                    alt="Neil image">
                                </div>
                                <div class="flex-1 min-w-0">
                                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                        I.E Victor Manuel Maldonado Begazo
                                    </p>
                                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                        Secundario - Primario
                                    </p>
                                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                        C.F.B Km 7.800 Perú - Ucayali - Pucallpa
                                    </p>
                                </div>
                                <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                    2015 - 2021
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                </div> 
        </div>
        <div class="flex justify-center items-center">
            <div class="w-full max-w-md p-4 bg-white border rounded-lg shadow-md sm:p-8 dark:bg-gray-500 dark:border-gray-500 ">
                <div class="flex items-center justify-center mb-4">
                    <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">EXPERIENCIA</h5>
                </div>
            <div class="flow-root">
                <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
                    <li class="py-3 sm:py-4">
                        <div class="flex items-center space-x-4">
                            <div class="flex-shrink-0">
                                <img class="w-8 h-8 rounded-full" 
                                src="https://st2.depositphotos.com/5934840/12080/v/450/depositphotos_120804940-stock-illustration-business-briefcase-icon.jpg" alt="Neil image">
                            </div>
                            <div class="flex-1 min-w-0">
                                <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                    Consorcio Educativo SSOMA ENGINEERING SRL
                                </p>
                                <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                    Soporte Tecnico y Programador
                                </p>
                                <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                    Desarrollo de un Modulo Inventarios
                                </p>
                            </div>
                            <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                2019 Abr- Dic
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <hr>
            <div class="flow-root">
                <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
                    <li class="py-3 sm:py-4">
                        <div class="flex items-center space-x-4">
                            <div class="flex-shrink-0">
                                <img class="w-8 h-8 rounded-full" 
                                src="https://st2.depositphotos.com/5934840/12080/v/450/depositphotos_120804940-stock-illustration-business-briefcase-icon.jpg"                    
                                alt="Neil image">
                            </div>
                            <div class="flex-1 min-w-0">
                                <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                    Consorcio Educativo SSOMA ENGINEERING SRL
                                </p>
                                <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                    Soporte Tecnico y Programador
                                </p>
                                <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                    Desarrollo de un Modulo Inventarios
                                </p>
                            </div>
                            <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                2019 Abr- Dic
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            </div> 
    </div> 
        </div>
    </div>
    <hr />
  </div>
</section>
