<section id="sobre-mi" class="h-full">
  <div class="lg:py-8 px-4 mx-auto max-w-screen-xl">
    <div class="w-3/6 mx-auto text-center h-96">
      <h1 class="text-6xl font-bold mb-3 font-mono mt-5 pt-10">SOBRE MI</h1>
      <p class="text-2xl font-bold font-mono mb-5 text-slate-400">
        Me presento, soy Isaias Ibarra Onofre Bachiller en Ingeniería De
        Sistemas, con conocimientos en lenguajes de programación. Persona
        responsable, honesta, con iniciativa y facilidad para realizar trabajos
        en equipo, así como de manera individual, dispuesto a aprender y con
        rapidez en la toma de decisiones.
      </p>
    </div>
    <hr />
  </div>
</section>
